.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 100%;
  text-align: center;
  color: #fff;
}

/* Estilo para el encabezado */
.header-container {
  margin-bottom: 24px;
}

.header-container h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 50px;
}

.header-container p {
  color: black;
  font-size: 16px;
  margin-bottom: 16px;
}

/* Contenedor de la foto */
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;                                 
  margin-bottom: 32px;
}

.photo-container .profile-photo {
  //--size: 120px;
}

.photo-container .photo-btn {
  background-color: #14213d;
  color: #fff;
  border-radius: 8px;
}

ion-content{
  color: black;
}

/* Inputs */
ion-item {
  --background: transparent;
  --border-color: #4b546e;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100%;
}

ion-item ion-input {
  color: black;
}

/* Botón guardar */
.save-btn {
  margin-top: 16px;
  background-color: #14213d;
  color: #fff;
  border-radius: 8px;
}

/* Texto de cerrar sesión */
.logout-text {
  margin-top: 16px;
  font-size: 14px;
}

.logout-text a {
  color: #008cff;
  text-decoration: none;
}

/* Imagen */
img {
  height: 100px;
  //width: 100px;
  max-width: none;
}

p{
  color: black;
}


.photo-container ion-avatar{
  --padding: 10px;
  --margin: 0;
  --max-width: none;
  --width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.photo-container ion-avatar img{
  width: 100px;
  --width: 100px;
}

.photo-btn{
  color: black;
}

.action-sheet-title.sc-ion-action-sheet-md button{
  color: black !important;
}