<ion-content>
  <div class="profile-container">
    <div class="header-container">
      <h1>Perfil</h1>
      <p>Actualiza tu información y foto de perfil.</p>
    </div>

    <div class="photo-container">
      <ion-avatar class="profile-photo">
        <img [src]="profilePhoto" alt="Foto de perfil">
      </ion-avatar>
      <ion-button expand="block" class="photo-btn" (click)="changePhoto()">Cambiar Foto</ion-button>
    </div>

    <ion-item>
      <ion-input placeholder="Nombre" [(ngModel)]="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Paterno" [(ngModel)]="apellidoPaterno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Materno" [(ngModel)]="apellidoMaterno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Teléfono" [(ngModel)]="telefono" required type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Correo electrónico" [(ngModel)]="correo" required type="email"></ion-input>
    </ion-item>

    <ion-button expand="block" class="save-btn" (click)="guardarCambios()">Guardar Cambios</ion-button>

    <p class="logout-text">
      ¿Deseas salir de tu cuenta? <a routerLink="/login">Cerrar Sesión</a>
    </p>
  </div>
</ion-content>
