<ion-content>
  <div class="profile-container">
    <div class="header-container">
      <h1>Perfil</h1>
      <p>Actualiza tu información y foto de perfil.</p>
    </div>

    <div class="photo-container">
      <ion-avatar class="profile-photo">
        <img [src]="profilePhoto" alt="Foto de perfil">
      </ion-avatar>
      <ion-button expand="block" color="none" class="ion-no-padding" style="display: flex; align-items: center; justify-content: center;" (click)="changePhoto()">
        <p class="new-button">Cambiar Foto</p>
      </ion-button>
    </div>

    <ion-item>
      <ion-input placeholder="Nombre" class="placeholder" [(ngModel)]="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Paterno" class="placeholder" [(ngModel)]="apellidoPaterno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Materno" class="placeholder" [(ngModel)]="apellidoMaterno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Teléfono" class="placeholder" [(ngModel)]="telefono" required type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Correo electrónico" class="placeholder" [(ngModel)]="correo" required type="email"></ion-input>
    </ion-item>

    <ion-button expand="block" color="none" class="ion-no-padding" style="display: flex; align-items: center; justify-content: center;"  (click)="guardarCambios()">
      <p class="new-button">Guardar Cambios</p>

    </ion-button>

    <p class="logout-text">
      ¿Deseas salir de tu cuenta? <a routerLink="/login">Cerrar Sesión</a>
    </p>
  </div>
</ion-content>
