<ion-content>
  <ion-grid>
    <ion-row class="timeline-row">
      <ion-col size="1" class="timeline-line">
        <div class="circle" *ngFor="let phase of phases"></div>
      </ion-col>

      <ion-col size="11">
        <div *ngFor="let phase of phases" class="phase-card">
          <ion-card (click)="goToPhase(phase.route)">
            <ion-card-header>
              <ion-card-title>{{ phase.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ phase.description }}
              <ion-icon
                name="information-circle-outline"
                class="info-icon"
                (click)="downloadPDF(phase.pdf)">
              </ion-icon>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
