<ion-content class="login-container">
  <div class="login-card">
    <h2>Iniciar Sesión</h2>
    <p>Nos alegramos de tenerte de vuelta.</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <p *ngIf="email?.invalid && email?.touched" class="error-text">
        {{ email?.hasError('required') ? 'El correo es obligatorio' :
           email?.hasError('minlength') ? 'Debe tener más de 6 caracteres' :
           'Introduce un dominio de correo valido' }}
      </p>

      <ion-item>
        <ion-label position="floating" color="dark">Contraseña</ion-label>
        <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
        <ion-icon 
          class="ion-padding-top"
          color="dark"
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>
      <p *ngIf="password?.invalid && password?.touched" class="error-text">
        {{ password?.hasError('required') ? 'La contraseña es obligatoria' :
           password?.hasError('minlength') ? '' :
           '' 
           }}
      </p>

      <div class="options">
        <ion-checkbox formControlName="rememberMe">Recuerdame</ion-checkbox>
        <a href="#">Olvidé mi contraseña</a>
      </div>

      <ion-button [routerLink]="['/cotizaciones', 'true']" expand="block" fill="solid" color="primary" type="submit" [disabled]="loginForm.invalid">
        Acceder
      </ion-button>      
    </form>

    <ion-button expand="block" fill="outline" color="medium">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Inicia Sesión con Google
    </ion-button>

    <p class="register-text">
      ¿No tienes una cuenta? <a routerLink="/register">Regístrate</a>
    </p>
  </div>
</ion-content>
