<ion-app>
  <!-- Menú -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>

        <!-- Botón menú con logo -->
        <ion-buttons slot="start">
          <ion-menu-button>
            <img src="assets/icon/logo.vanguard.png" alt="Logo Vanguard">
          </ion-menu-button>
        </ion-buttons>

        <!-- Botón login-->
        <ion-buttons slot="end">
          <ion-button class="button-design" fill="outline" (click)="openLoginModal()">
            <p>Iniciar sesión</p>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
