:root {
  --ion-background-color: white;
  --ion-text-color: black;
}

html, body {
  background-color: white;
  color: black;
}

:host {
  --ion-background-color: white;
}

ion-menu::part(container) {
  background-color: white !important;
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(7, 4, 148, 0.3);
}

ion-menu-button {
  width: 130px;
  height: 58px;
}

ion-toolbar {
  --background: white;
  --ion-background-color: white;
  --color: black;
}

.button-design {
  background-color: #FFC107 !important;
  color: black !important;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px 16px;
}

.button-design p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
