<ion-app>
  <!-- Menú lateral -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content">
      <!-- Aquí puedes agregar opciones del menú -->
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>

        <!-- Botón del menú con logo -->
        <ion-buttons slot="start">
          <ion-menu-button>
            <img src="assets/icon/logo.vanguard.png" alt="Logo Vanguard" style="width: 50px; height: auto;">
          </ion-menu-button>
        </ion-buttons>

        <!-- Título de la página -->
        <ion-title id="page-title">Menú</ion-title>

        <!-- Botón de inicio de sesión -->
        <ion-buttons slot="end">
          <ion-button onclick="navigate('login')" class="button-design">
            <p>Iniciar sesión</p>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-content>
    </ion-content>

  </div>
</ion-app>
