<ion-content>

  <!--Inicio, primera pantalla-->
  <div class="hero-section">
    <div class="hero-content">
      <p class="bienvenido">Bienvenido a Vanguard</p>
      <p class="slogan">MARKETING PUBLICIDAD DESDE 1988</p>
      <p class="descripcion">Tú pon las ideas, nosotros las hacemos realidad.</p>
    </div>
  </div>

  <!--Nosotros-->
    <div class="nosotros-container">
      <ion-grid>
        <ion-row>
          <ion-col class="text-center">
            <h2 class="title">VANGUARD <br>Sobre Nosotros</h2>
          </ion-col>
        </ion-row>
        <ion-row class="cards-container">
          <ion-col class="info-card">
            <div class="card-content">
              <ion-img src="assets/icon/acerca.png" alt="mision"></ion-img>
              <h3>Acerca de "Vanguard"</h3>
              <p>La empresa "Vanguard" es una innovadora compañía con años de experiencia en el sector, especializada en
                la creación de anuncios publicitarios de alta calidad.</p>
            </div>
          </ion-col>
          <ion-col class="info-card">
            <div class="card-content">
              <ion-img src="assets/icon/mision.png" alt="vision"></ion-img>
              <h3>Nuestra misión</h3>
              <p>Transformamos la visión de nuestros clientes en impactantes y efectivos proyectos que superan sus
                expectativas.</p>
            </div>
          </ion-col>
          <ion-col class="info-card">
            <div class="card-content">
              <ion-img src="assets/icon/vision.png" alt="valor"></ion-img>
              <h3>Nuestra visión</h3>
              <p>Ser líderes en la industria de la publicidad, innovando y adaptándonos a las tendencias del mercado.</p>
            </div>
          </ion-col>
          <ion-col class="info-card">
            <div class="card-content">
              <ion-img src="assets/icon/formacion.png" alt="objetivo"></ion-img>
              <h5>Formación Profesional</h5>
              <p>Nuestro equipo se mantiene actualizado con las últimas tecnologías en publicidad para ofrecer resultados
                excepcionales.</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="icon-section">
          <ion-col class="icon-container">
            <div class="icon-card">
              <ion-icon name="bulb-outline"></ion-icon>
              <h5 class="text-color">Innovación</h5>
              <p class="text-color">Creando soluciones brillantes para tus necesidades.</p>
            </div>
          </ion-col>
          <ion-col class="icon-container">
            <div class="icon-card">
              <ion-icon name="trending-up-outline"></ion-icon>
              <h5 class="text-color">Resultados</h5>
              <p class="text-color">Aumenta la visibilidad y las ventas de tu negocio.</p>
            </div>
          </ion-col>
          <ion-col class="icon-container">
            <div class="icon-card">
              <ion-icon name="star-outline"></ion-icon>
              <h5 class="text-color">Calidad</h5>
              <p class="text-color">Materiales y diseños de primera clase.</p>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>

  <div>
    <!--este div es para el carrusel de fotos, no me quedo -->
  </div>

  <div class="contactanos">
    <div class="container">
      <div class="row">
        <!-- Formulario de contacto -->
        <div class="form-container">
          <div class="form-content">
            <h2>Contáctanos</h2>
            <form class="contact-form">
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" placeholder="Nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input type="text" placeholder="Apellidos"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input type="email" placeholder="@email.com"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input type="tel" placeholder="+52 -000-000-00-00"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Mensaje</ion-label>
                <ion-input rows="3" placeholder="Ingresa brevemente como podemos ayudarte..."></ion-input>
              </ion-item>
              <div class="btn-container">
                <ion-button expand="full" color="warning">Enviar</ion-button>
              </div>
            </form>
          </div>
        </div>

        <!-- Información de contacto -->
        <div class="info-container">
          <div class="contact-info">
            <h3>Información de contacto</h3>
            <p><ion-icon name="location-outline"></ion-icon> Camino a Cinco encinos...</p>
            <p><ion-icon name="mail-outline"></ion-icon> vanguardmex1&#64;gmail.com</p>
            <p><ion-icon name="call-outline"></ion-icon> +52 271 139 6425</p>
            <div class="social-links">
              <a href="https://www.facebook.com/vanguardmex/"><img src="/assets/facebookinf.png" alt="Facebook"></a>
              <a href="https://www.instagram.com/vanguardmex/"><img src="/assets/instagraminf.png" alt="Instagram"></a>
            </div>
          </div>
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235.89380523074541!2d-96.96075787935305!3d18.918071611805008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e505c6883579%3A0x8aa398a82cded186!2sCam%20a%20Unidad%20San%20Jose%20de%20Abajo%2C%20Veracruz!5e0!3m2!1ses!2smx!4v1717341750131!5m2!1ses!2smx" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
