<ion-content>

  <!--Inicio, primera pantalla-->
  <div class="hero-section">
    <div class="hero-content">
      <p class="bienvenido">Bienvenido a Vanguard</p>
      <p class="slogan">MARKETING PUBLICIDAD DESDE 1988</p>
      <p class="descripcion">Tú pon las ideas, nosotros las hacemos realidad.</p>
    </div>
  </div>

  <!--Nosotros-->
  <div class="nosotros-container" id="nosotros">
    <ion-grid>
        <ion-row>
          <ion-col class="text-center">

          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
