<ion-content>
  <div class="register-container">
    <h1 class="text-size">Regístrate</h1>
    <p class="">Gracias por unirte a nosotros.</p>

    <ion-item>
      <ion-input placeholder="Nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Paterno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Materno" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Teléfono" required type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Correo electrónico" required type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" required type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirmar Contraseña" required type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="register-btn">Registrarme</ion-button>

    <ion-button expand="block" fill="outline" class="google-btn">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Registro con Google
    </ion-button>

    <p class="login-text">
      ¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a>
    </p>
  </div>
</ion-content>
