.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; /*padding de arriba*/
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 16px;
}

  h1 {
      font-size: 40px;
      margin-bottom: 8px;
      color: black;
      margin-top: 50px;
  }

  p {
      margin-bottom: 16px;
      font-size: 17px;
      color: black;
  }

  ion-item {
      --background: transparent;
      --border-color: black;
      border-radius: 16px;
      margin-bottom: 16px; 
      width: 100%;
  }

  ion-icon{
    color: black;
  }

  ion-input {
    color: black;
}

  .register-btn {
      width: 230px;
      margin-top: 24px;
      background-color: #14213d;
      color: #fff;
      border-radius: 16px;
  }

  .google-btn {
      width: 230px;
      margin-top: 16px; 
      color: #000;
      background-color: #fff;
      --border-color: black;
      border-radius: 16px;
  }

  .login-text {
      margin-top: 16px;
      font-size: 14px;

      a {
          color: #008cff;
          text-decoration: none;
      }
  }

  .footer-logo {
      margin-top: 24px;

      img {
          width: 100px;
      }
  }

  .error-text {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
  }
  
  ion-item.invalid {
    --border-color: red;
  }
  
